// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.letters {
  display: flex;
}
.single-letter {
  color: white;
  background-color: #3298DB;
  padding: 6px 8px;
  margin: 5px;
}
